<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
</head>
<body>
{% include 'navbar.html' %}
<form method="POST">
    {{forms.username.label}}{{forms.username}}{{text1}}<br>
    {{forms.password.label}}{{forms.password}}{{text2}}<br>
    {{forms.submit}}<br>
</form>
<form method="POST">
<input type="submit" name ="submit" value="还没有账号？">
</form>
    <p>我是登录</p>
</body>
</html>