<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
</head>
<body>
{% include 'navbar.html' %}
<form method="POST">
    {{forms.csrf_token()}}
    {{forms.username.label}}{{forms.username}}{{text1}}<br>
    {{forms.password.label}}{{forms.password}}{{text2}}<br>
    {{forms.password2.label}}{{forms.password2}}{{text3}}<br>
    {{forms.submit}}
</form>
    {{ text }}
<p>我是注册</p>
</body>
</html>