body{
margin:0px auto;
width:1100px;
min-height:700px;
border:1px solid #000;
}
form{
margin:auto;
}
div.left
{
position: relative;
margin:20px 0px;
width:700px;
min-height:700px;
border:1px solid #200;
float:left;
}
div.right
{
margin:20px auto;
width:250px;
height:300px;
border:1px solid #200;
float:right;
}
div.center
{
margin:0px auto;
width:1000px;
min-height:1200px;
background-color: #DDD;
}
div.list
{
margin:10px auto;
width:650;
background-color: #000;
}
div.item
{
border:1px solid #000;
margin:0px auto;
width:600px;
background-color: #DDD;
}
form.center
{
    margin:20px auto;
}