<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/warn.css') }}"/>
</head>
<body>
{% include 'navbar.html' %}
<form method="POST" class="informs" style="border:0px;width:600px">
    <span>快爬！    </span>
    <input type="text" value="" name="text" style="border:0px solid #00bbff;width:350px; height:30px;">
    <input type="submit" name="search" style="border:0px solid #00bbff;width:50px; height:30px;" value="搜索">
</form>
</body>
</html>
